:root {
  --primary-dark-color: #003844;
  --secondary-dark-color: #006c67;
  --primary-medium-color: #f194b4;
  --secondary-medium-color: #ffb100;
  --primary-light-color: #ffebc6;

  --border-radius-small: 4px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-light-color);
  width: 600px;
  margin: 0 auto;
}

h1 {
  padding: 1rem;
}

.header {
  background-color: var(--primary-dark-color);
  border-radius: var(--border-radius-small);
  color: var(--primary-medium-color);
  height: 10vh;
  text-align: center;
}

.homepage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card {
  background-color: var(--secondary-dark-color);
}

.footer {
  background-color: var(--primary-dark-color);
  display: flex;
  justify-content: space-around;
}
