:root {
  --primary-dark-color: #003844;
  --secondary-dark-color: #006c67;
  --primary-medium-color: #f194b4;
  --secondary-medium-color: #ffb100;
  --primary-light-color: #ffebc6;

  --border-radius-small: 5px;
  --border-radius-big: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-light-color);
  margin: 0 auto;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  align-self: center;
}

h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-block: 1rem;
}

h3 {
  padding-block: 1rem;
}

button {
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: bolder;
  margin-block: 1rem;
  width: 50%;
  box-shadow: 2px 2px 2px var(--secondary-medium-color);
  transition: 0.3s ease-in-out;
}

* button.show-answer:hover,
button.submit-form:hover {
  animation: border 1.5s linear infinite;
}
@keyframes border {
  0% {
    box-shadow: 2px 2px 4px 2px var(--secondary-medium-color);
  }

  25% {
    box-shadow: -2px 2px 4px 2px var(--secondary-medium-color);
  }

  75% {
    box-shadow: -2px -2px 4px 2px var(--primary-medium-color);
  }

  100% {
    box-shadow: 2px -2px 4px 2px var(--primary-medium-color);
  }
}

.hidden {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-dark-color);
  border-radius: var(--border-radius-small);
  color: var(--primary-medium-color);
  padding-block: 10px;
  text-align: center;
  z-index: 2;
}

.homepage-main,
.bookmarks-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;
  width: 100vw;
  padding-top: 12vh;
  padding-bottom: 50px;
  /* The following is a code snippet provided by Javier
  --> need to understand fully later! */
  overflow-y: auto;
  max-height: calc(100vh - 70px);
}

.profile-main,
.form-main {
  width: 100vw;
  height: 100vh;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
  /* The following is a code snippet provided by Javier
  --> need to understand fully later! */
  overflow-y: auto;
  max-height: calc(100vh - 70px);
}

.form {
  background-color: var(--secondary-dark-color);
  border-radius: var(--border-radius-big);
  padding: 1.5rem 1rem;
  color: var(--secondary-medium-color);
  font-weight: bolder;
  box-shadow: 5px 5px 5px var(--primary-dark-color);
}

.form > * {
  display: block;
  margin: 1rem auto;
}

.form > input {
  width: 100%;
}

.remaining-characters {
  color: var(--primary-medium-color);
  font-size: 0.6rem;
  text-align: right;
}

.profile-main > * {
  width: 75%;
  padding: 20px;
  background-color: var(--secondary-dark-color);
  border-radius: var(--border-radius-big);
  box-shadow: 5px 5px 5px var(--primary-dark-color);
}

.intro-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  /* width: 75%; */
}

.profile-pic {
  border-radius: var(--border-radius-big);
}

.profile-name {
  color: var(--secondary-medium-color);
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.about-me-section {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me-heading {
  color: var(--primary-medium-color);
}

.about-me {
  color: var(--secondary-medium-color);
}

.counter-section {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.counter-section-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.counter-created-questions-icon,
.counter-bookmarks-icon {
  height: 50%;
}

.counter-number {
  color: var(--primary-medium-color);
}

.settings--dark-mode-heading {
  font-size: 0.9rem;
  color: var(--secondary-medium-color);
}

.settings--dark-mode {
  display: flex;
  justify-content: space-between;
}

/* following code courtesy of Google
--> need to fully understand later! */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-medium-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: “”;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-medium-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}
input:checked + .slider {
  background-color: var(--primary-dark-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-medium-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-dark-color);
  width: 75%;
  max-width: 700px;
  /* min-height: 300px; */
  border-radius: var(--border-radius-big);
  text-align: center;
  padding: 1.5rem 1rem;
  color: var(--secondary-medium-color);
  box-shadow: 5px 5px 5px var(--primary-dark-color);
  position: relative;
}

.bookmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -15%);
}

.tags {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
}

.btn-tags {
  opacity: 70%;
  box-shadow: none;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  font-size: 0.4rem;
  width: 100%;
}

.footer {
  background-color: var(--primary-dark-color);
  border-radius: var(--border-radius-small);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-block: 1.5vh;
}

.nav-bar-items {
  background-color: var(--primary-medium-color);
  border-radius: 25px;
  padding: 0.4em;
}

.nav-bar-items:hover {
  background-color: var(--secondary-medium-color);
  transition: 0.3s linear;
}

.nav-bar--btn {
  width: 30px;
}

.dm-btn-container {
  width: 30%;
  border: 1px solid red;
}

.dm-btn {
  width: 25px;
  height: 25px;
  border-radius: 100px;
}

/* body.dark {
  background-color: var(--primary-dark-color);
} */

.darkmode {
  /* --primary-dark-color: #003844;
  --secondary-dark-color: #006c67;
  --primary-medium-color: #f194b4;
  --secondary-medium-color: #ffb100;
  --primary-light-color: #ffebc6; */

  --primary-dark-color: #003844;
  --secondary-dark-color: #003844;
  --primary-medium-color: #ffebc6;
  --secondary-medium-color: #f194b4;
  --primary-light-color: #01262e;
}
