@import "./global.css";
@import "./form.css";
@import "./profile.css";
@import "./darkmode.css";

* button.show-answer:hover,
button.submit-form:hover {
  animation: border 1.5s linear infinite;
}

@keyframes border {
  0% {
    box-shadow: 2px 2px 4px 2px var(--secondary-medium-color);
  }

  25% {
    box-shadow: -2px 2px 4px 2px var(--secondary-medium-color);
  }

  75% {
    box-shadow: -2px -2px 4px 2px var(--primary-medium-color);
  }

  100% {
    box-shadow: 2px -2px 4px 2px var(--primary-medium-color);
  }
}

.hidden {
  display: none;
}

.homepage-main,
.bookmarks-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100vh;
  width: 100vw;
  padding-top: 12vh;
  padding-bottom: 50px;
  /* The following is a code snippet provided by Javier
  --> need to understand fully later! */
  overflow-y: auto;
  max-height: calc(100vh - 70px);
}

.profile-main,
.form-main {
  width: 100vw;
  height: 100vh;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 50px;
  /* The following is a code snippet provided by Javier
  --> need to understand fully later! */
  overflow-y: auto;
  max-height: calc(100vh - 70px);
}

.profile-main > * {
  width: 75%;
  padding: 20px;
  background-color: var(--secondary-dark-color);
  border-radius: var(--border-radius-big);
  box-shadow: 5px 5px 5px var(--primary-dark-color);
}

.intro-section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  /* width: 75%; */
}

.profile-pic {
  border-radius: 100px;
  width: 120px;
  box-shadow: 5px 5px 5px var(--primary-dark-color);
}

.profile-name {
  color: var(--secondary-medium-color);
  align-self: center;
  /* font-size: 2rem; */
  font-weight: bold;
}

.about-me-section {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me-heading {
  color: var(--primary-medium-color);
}

.about-me {
  color: var(--secondary-medium-color);
}

.counter-section {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.counter-section-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
}

.counter-created-questions-icon,
.counter-bookmarks-icon {
  height: 50%;
}

.counter-number {
  color: var(--primary-medium-color);
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-dark-color);
  width: 75%;
  max-width: 700px;
  /* min-height: 300px; */
  border-radius: var(--border-radius-big);
  text-align: center;
  padding: 1.5rem 1rem;
  color: var(--secondary-medium-color);
  box-shadow: 5px 5px 5px var(--primary-dark-color);
  position: relative;
}

.bookmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -15%);
}

.tags {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
}

.btn-tags {
  opacity: 70%;
  box-shadow: none;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  font-size: 0.4rem;
  width: 100%;
}
